// src/app/layout/default-layout/default-footer/default-footer.component.scss
.footer-custom {
  position: fixed;
  bottom: 0;
  z-index: 1030; // debajo del sidebar (1031)
  left: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
a {
    text-decoration: none;
    color:rgb(21, 115, 187);
    font-weight: bold;
}
/* Cuando el sidebar está visible (normal ancho) */
body.sidebar-show .footer-custom {
  left: 256px;
  width: calc(100% - 256px);
}

/* Cuando el sidebar está colapsado o escondido */
body.sidebar-narrow-unfoldable .footer-custom,
body.sidebar-hidden .footer-custom {
  left: 0;
  width: 100%;
}

/* En pantallas pequeñas (responsive): el sidebar se superpone, así que el footer ocupa todo el ancho */
@media (max-width: 991.98px) {
  .footer-custom {
    left: 0;
    width: 100%;
  }
}
