c-avatar {
  font-size: 2rem;
  font-weight: 600;
}

.table-borderless {
  td {
    padding: 0.75rem 0;
    vertical-align: middle;
  }
}

c-card-header {
  font-weight: 600;
}

.gap-2 {
  gap: 0.5rem !important;
}